/include/ "system-conf.dtsi"
/ {
    chosen {
        bootargs = "console=ttyPS0,115200 earlyprintk uio_pdrv_genirq.of_id=generic-uio root=/dev/mmcblk0p2 rw rootwait";
        stdout-path = "serial0:115200n8";
    };

    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;

        dma_reserved: dma@0x1c000000 {
            reg = <0x1c000000 0x04000000>;
        };
    };
};

&axi_bram_ctrl_0 {
    compatible = "generic-uio";
};
&axi_bram_ctrl_1 {
    compatible = "generic-uio";
};

